body{
    background-image: url(./images/background-adare-restaurant.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
width: 1024px;
margin: 0 auto;
}
header{
    height: 118px;
    text-align: center;
}

nav{
    background-color: rgba(0, 0, 0, 0.377);
   text-align: center;
    padding: 10px 0;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

main{
    padding: 100px 0;
    text-align: center;
    width: 700px;
    margin: 0 auto;
}

main h1, p, a{
    color: white;
}

main h1{
    font-size: 60px;
}

section{
    background-color:orange;
    height: 500px;
}

footer{
    background-color: rgba(0, 0, 0, 0.377);
    padding: 15px 0;
    text-align: center;
    margin-top: 40px;
}
